In [1]:
tuple=(1,2,3,4)
lst=list(tuple)
print(lst)

[1, 2, 3, 4]

In [2]:
# packing and unpacking of tuple
packing_tuple=1,2,3,4
print(packing_tuple)

(1, 2, 3, 4)

In [3]:
a,b,c,d=packing_tuple
print(a)
print(b)
print(c)
print(d)

1
2
3
4

In [4]:
nested_tuple=((1,2,3),("a","b","c"),(True,False))
nested_tuple[0]

(1, 2, 3)

In [5]:
nested_tuple[2]

(True, False)

In [7]:
nested_tuple[1][1]

'b'

In [8]:
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False

In [9]:
 # create sets
my_set={1,2,3}
print(my_set)

{1, 2, 3}

In [10]:
type(my_set)

set

In [12]:
my_set.add(7)
my_set

{1, 2, 3, 7}

In [15]:
# clear all the elements in sets
my_set.clear()
my_set

set()

In [16]:
my_set={1,2,3,4}
print(3 in my_set)
print(10 in my_set)

True
False

In [18]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

## union 

union_set=set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [19]:
## intersection operation

intersection_set=set1.intersection(set2)
print(intersection_set)

{4, 5, 6}

In [21]:
## differnece operation

print(set1.difference(set2))
print(set2.difference(set1))

{1, 2, 3}
{8, 9, 7}

In [22]:
set1.difference(set2)

{1, 2, 3}

In [23]:
set2.difference(set1)

{7, 8, 9}

In [27]:
## counting the unique word in text

text="I have started my journey of Data Science Data Science"
words=text.split()

unique_words=set(words)
print(len(unique_words))
print(len(words))

8
10

In [28]:
## dictionaries

student={"name":"krish","age":32,"grade":24}
print(type(student))

<class 'dict'>

In [30]:
student["name"]="samarth"
print(student["name"])
print(student["age"])

samarth
32

In [ ]:
## adding a new key to the dictionaries
student["address"]="india"
print(student)

{'name': 'samarth', 'age': 32, 'grade': 24, 'address': 'india'}

In [32]:
## delete key and value pair

del student["age"]
print(student)

{'name': 'samarth', 'grade': 24, 'address': 'india'}

In [34]:
## dictionary methods

student["age"]=34
student["grade"]="A"

keys=student.keys()
print(keys)

values=student.values()
print(values)

dict_keys(['name', 'grade', 'address', 'age'])
dict_values(['samarth', 'A', 'india', 34])

In [35]:
student_copy=student
print(student_copy)

{'name': 'samarth', 'grade': 'A', 'address': 'india', 'age': 34}

In [37]:
student_copy["name"]="Joshi"
print(student_copy)

{'name': 'Joshi', 'grade': 'A', 'address': 'india', 'age': 34}

In [38]:
## iterating over dictioonary

## interating over the keys

for keys in student.keys():
    print(keys)

name
grade
address
age

In [39]:
## iterate over the values

for values in student.values():
    print(values)

Joshi
A
india
34

In [40]:
for items in student.items():
    print(items)

('name', 'Joshi')
('grade', 'A')
('address', 'india')
('age', 34)

In [41]:
for keys,values in student.items():
    print(f"{keys}:{values}")

name:Joshi
grade:A
address:india
age:34

In [42]:
## nested dictionaries

students={
    "student1":{"name":"samarth","age":32},
    "student2":{"name":"joshi","age":32}
}
print(students)

{'student1': {'name': 'samarth', 'age': 32}, 'student2': {'name': 'joshi', 'age': 32}}

In [ ]:
print(students["student1"]["name"])

samarth

In [ ]:
## dictionaries comprehension
squares={x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [53]:
squares=[x for x in range(5)]
print(squares)

[0, 1, 2, 3, 4]

In [54]:
## merge two dictionaries
dict1={"a":1,"b":2}
dict2={"c":3,"d":4}

merged_dict={**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}